<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Web Developer Portfolio - Stephen Lenane"
    />
    <meta
      name="keywords"
      content="Web Development, Web Developer, Web Design, SEO, Responsive, Works, Skill Set, Contact"
    />
    <meta name="author" content="Stephen Lenane" />

    <title>Stephen Lenane</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-4K1WY5QT47"
      nonce="<%=randomNonce%>"
    ></script>
    <script nonce="<%=randomNonce%>">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-4K1WY5QT47');
    </script>

    <!-- FAVICON -->
    <link
      rel="shortcut icon"
      href="/assets/images/icons/favicon.ico"
      type="image/x-icon"
    />
    <!-- BOOTSTRAP STYLESHEET -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- FONT AWESOME -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Spartan:wght@400;600;900&family=Montserrat:wght@600;700;900&&display=swap"
      rel="stylesheet"
    />
    <!-- MAIN STYLESHEET -->
    <link rel="stylesheet" href="/assets/stylesheets/index.css" />
    <!-- HERO STYLESHEET -->
    <link rel="stylesheet" href="/assets/stylesheets/hero.css" />
    <!-- WHAT I DO STYLESHEET -->
    <link rel="stylesheet" href="/assets/stylesheets/what-i-do.css" />
    <!-- WORKS STYLESHEET -->
    <link rel="stylesheet" href="/assets/stylesheets/works.css" />
    <!-- SKILLS STYLESHEET -->
    <link rel="stylesheet" href="/assets/stylesheets/skills.css" />
    <!-- CONTACT STYLESHEET -->
    <link rel="stylesheet" href="/assets/stylesheets/contact.css" />
    <!-- FOOTER STYLESHEET -->
    <link rel="stylesheet" href="/assets/stylesheets/footer.css" />
  </head>
  <body></body>
</html>
