.contact-header {
  text-align: center;
  margin: 1rem auto;
}

.contact_form--container {
  background-color: var(--secondary-background-color);
  padding: 5%;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  position: relative;
  margin-bottom: 3rem;
}

.contact_form--container::before {
  position: absolute;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  content: '';
  border-radius: 10px;
  top: 5px;
  left: 5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
}

.form_loader {
  display: none;
}

.form_loader.active {
  display: block;
  position: absolute;
  left: 43%;
  top: 43%;
  border: 8px solid var(--secondary-background-color);
  border-radius: 50%;
  border-top: 8px solid var(--secondary-color);
  width: 3rem;
  height: 3rem;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form_overlay {
  height: 100%;
}

.form_overlay.active {
  opacity: 0.2;
}

.form-control,
.form-control:focus {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  border-color: none;
  color: var(--secondary-text-color);
}

.form-group {
  border-bottom: 1.5px solid var(--secondary-text-color);
  margin-bottom: 1rem;
}

.form-group.group-focused {
  border-bottom: 1.8px solid var(--primary-text-color);
}

.contact_label {
  position: relative;
  color: var(--primary-text-color);
  transition: all 0.5s;
  transform: translateY(2rem);
}

.contact_label.input-focused {
  transform: translateY(0);
}

.form_submit {
  display: grid;
  justify-content: center;
  position: unset !important;
}

.form_failure p {
  text-align: center;
  color: red !important;
  margin-bottom: 0;
}

.form_success {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.form_success img {
  height: 12rem;
}

.form_success--1,
.form_success--2,
.form_success--3 {
  opacity: 0;
  animation: opacity 0.5s;
  animation-fill-mode: forwards;
}

.form_success--2 {
  animation-delay: 0.75s;
}

.form_success--3 {
  animation-delay: 1.5s;
}

@keyframes opacity {
  100% {
    opacity: 1;
  }
}

@media (min-width: 550px) {
  #contact_section {
    padding: 0 10%;
  }
}

@media (min-width: 768px) {
  #contact_section {
    padding: 0 15%;
  }
}

@media (min-width: 1000px) {
  #contact_section {
    padding: 0 20%;
  }
}
