#contact_section {
  margin-top: 5rem;
}

.contact-header {
  text-align: center;
  margin: 1rem auto;
}

.contact_form--container {
  background-color: var(--secondary-background-color);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  position: relative;
  margin-bottom: 3rem;
}

.contact_form--container::before {
  position: absolute;
  background-color: var(--primary-color);
  box-shadow: var(--icon-shadow);
  content: '';
  border-radius: 10px;
  top: 8px;
  left: 8px;
  bottom: -8px;
  right: -8px;
  z-index: -1;
}

.form_loader {
  display: none;
}

.form_loader.active {
  display: block;
  position: absolute;
  left: 43%;
  top: 43%;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid var(--secondary-color);
  width: 3rem;
  height: 3rem;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form_overlay {
  height: 100%;
}

.form_overlay.active {
  opacity: 0.2;
}

.form-control,
.form-control:focus {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  border-color: none;
  color: var(--secondary-text-color);
}

.form-group {
  border-bottom: 1.5px solid var(--secondary-text-color);
  margin-bottom: 1rem;
}

.form-group.group-focused {
  border-bottom: 1.8px solid var(--primary-text-color);
}

.contact_label {
  position: relative;
  color: var(--primary-text-color);
  transition: all 0.5s;
  transform: translateY(2rem);
}

.contact_label.input-focused {
  transform: translateY(0);
}

.contact_radio_group {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1rem 0;
}

.service_select {
  color: var(--primary-text-color);
}

.form-check-input {
  appearance: none;
  display: none;
}

.form-check-label {
  transform: translateX(-15px);
  font-size: 0.9rem;
}

.form-check-label.checked {
  border-bottom: 2px solid var(--primary-color);
  font-weight: 700;
}

.form-check-label:hover {
  cursor: pointer;
}

.form_submit {
  display: grid;
  justify-content: center;
  position: unset !important;
}

.form_failure p {
  text-align: center;
  color: red !important;
  margin-bottom: 0;
}

.form_success {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.form_success img {
  height: 12rem;
}

.form_success--1,
.form_success--2,
.form_success--3 {
  opacity: 0;
  animation: opacity 0.5s;
  animation-fill-mode: forwards;
}

.form_success--2 {
  animation-delay: 0.75s;
}

.form_success--3 {
  animation-delay: 1.5s;
}
