#hero_section {
  height: 100vh;
}

.navbar {
  transition: all 0.5s;
  padding: var(--content-padding);
}

.navbar.display-navbar {
  background-color: var(--secondary-background-color);
  box-shadow: var(--box-shadow);
}

.navbar-brand_image {
  margin-left: 1rem;
  width: 2rem;
  display: none;
}

.display-brand {
  display: block;
}

.navbar-nav.ml-auto {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  margin-right: 1rem;
}

.nav-cv,
.nav-email {
  font-size: 0.9rem;
  display: none;
}

.nav-cv a,
.nav-email a {
  color: var(--primary-text-color);
}

.nav-cv a:hover,
.nav-email a:hover {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.display-nav-cv,
.display-nav-email {
  display: block;
}

.hero-options {
  position: absolute;
  top: 5%;
  right: 5%;
  display: grid;
  direction: rtl;
  grid-template-columns: auto;
}

.hero-options div {
  display: grid;
  grid-template-columns: repeat(2, 42px);
  gap: 5px;
}

.theme-switcher {
  margin-bottom: 10px;
}

.theme-switcher img {
  background-color: var(--secondary-background-color);
  padding: 8px;
  border-radius: 50%;
  width: 42px;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.language-switcher img {
  max-width: 42px;
  border-radius: 50%;
  box-shadow: none;
  position: relative;
  transition: all 0.3s;
  z-index: 1;
  cursor: pointer;
}

.language-switcher img.active {
  z-index: 2;
  box-shadow: var(--box-shadow);
}

.language-switcher img:nth-of-type(2) {
  visibility: hidden;
  right: -47px;
  z-index: 1;
}

.language-switcher.options-open img:nth-of-type(2) {
  visibility: visible;
  right: 0;
  z-index: 1;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-content: center;
  height: 100%;
}

.hero-avatar {
  text-align: center;
}

.hero-avatar img {
  width: 60%;
}

.hero_body {
  position: relative;
  text-align: center;
}

.hero--header {
  font-size: 1.7rem;
  font-weight: 700;
}

.hero--subheader {
  padding: 0 10%;
  font-size: 1rem;
}

.hero_grid--links {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem auto;
}

.hero_grid--links img {
  border-radius: 50%;
  width: 48px;
}

html[data-theme='dark'] .hero_grid--links img {
  border: 2px solid white;
  width: 46px;
}

@media only screen and (min-width: 550px) and (max-width: 767px) {
  .hero-avatar img {
    width: 40%;
  }
}

@media (min-width: 768px) {
  #hero_section {
    height: 40rem;
  }

  .hero-content {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero-avatar img {
    width: 75%;
  }

  .hero_body {
    text-align: start;
  }

  .hero_body h1 {
    text-align: start;
  }

  .hero--subheader {
    padding: 0 10% 0 0;
    text-align: start;
  }

  .hero_grid--links {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    gap: 1.5rem;
    margin: 1rem auto;
  }

  .hero_grid--links img {
    width: 30px;
  }

  html[data-theme='dark'] .hero_grid--links img {
    width: 28px;
  }
}

@media (min-width: 1024px) {
  .hero-options {
    position: fixed;
    top: 10%;
    right: 5%;
  }

  .hero-avatar img {
    width: 70%;
  }

  .hero_body {
    text-align: start;
  }

  .hero_body h1 {
    font-size: 2.3rem;
    text-align: start;
  }

  .hero--subheader {
    padding: 0 10% 0 0;
    font-size: 1.1rem;
    text-align: start;
  }

  .hero_grid--links {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: start;
    gap: 1.5rem;
    margin: 1rem auto;
  }

  .hero_grid--links img {
    width: 40px;
  }

  html[data-theme='dark'] .hero_grid--links img {
    width: 40px;
  }
}

@media (min-width: 1200px) {
  .hero_body h1 {
    font-size: 2.5rem;
  }

  .hero--subheader {
    font-size: 1.2rem;
  }
}
