#hero_section {
  height: 100vh;
  background-image: url('/assets/images/icons/avatar.webp');
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 70%;
}

.navbar-brand_image {
  margin-left: 1rem;
  width: 2rem;
}

.navbar-toggler,
.navbar-toggler:focus {
  border: none;
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: none !important;
  font-size: 1.5rem;
  color: var(--primary-text-color);
  text-align: end;
  padding-top: 0.5rem;
}

.hero-options {
  position: absolute;
  top: 8%;
  left: 5%;
  display: grid;
  grid-template-columns: auto;
}

.hero-options div {
  display: grid;
  grid-template-columns: repeat(2, 48px);
  gap: 2px;
}

.theme-switcher {
  margin-bottom: 10px;
}

.theme-switcher img {
  background-color: var(--secondary-background-color);
  padding: 8px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  margin: 0 auto;
  box-shadow: var(--icon-shadow);
}

.language-switcher img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  box-shadow: var(--icon-shadow);
  transform: translateX(0px);
  transition: all 0.5s;
  z-index: 5;
}

.language-switcher img.hide-language {
  visibility: hidden;
  transform: translateX(-50px);
  box-shadow: none;
  z-index: 1;
}

.language-switcher img:nth-of-type(2).selected-language {
  transform: translateX(-50px);
  box-shadow: none;
  z-index: 8;
}

.hero_body {
  position: relative;
  top: 50%;
  text-align: center;
}

.hero--header {
  font-size: 1.7rem;
  font-weight: 700;
}

.hero--subheader {
  padding: 0 10%;
}

.hero_grid--links {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem auto;
}

.hero_grid--links img {
  border-radius: 50%;
  box-shadow: var(--icon-shadow);
}
