#hero_section {
  height: 100vh;
  background-image: url('/assets/images/icons/avatar.png');
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: 60%;
}

.navbar {
  transition: all 0.5s;
}

.navbar.display-navbar {
  background-color: var(--secondary-background-color);
  box-shadow: var(--icon-shadow);
}

.navbar-brand_image {
  margin-left: 1rem;
  width: 2rem;
  display: none;
}

.display-brand {
  display: block;
}

.navbar-nav.ml-auto {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  margin-right: 1rem;
}

.nav-cv,
.nav-email {
  font-size: 0.9rem;
  display: none;
}

.nav-cv a,
.nav-email a {
  color: var(--primary-text-color);
}

.display-nav-cv,
.display-nav-email {
  display: block;
}

.hero-options {
  position: absolute;
  top: 5%;
  right: 5%;
  display: grid;
  direction: rtl;
  grid-template-columns: auto;
}

.hero-options div {
  display: grid;
  grid-template-columns: repeat(2, 42px);
  gap: 5px;
}

.theme-switcher {
  margin-bottom: 10px;
}

.theme-switcher img {
  background-color: var(--secondary-background-color);
  padding: 8px;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  margin: 0 auto;
  box-shadow: var(--icon-shadow);
}

.language-switcher img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  box-shadow: none;
  position: relative;
  transition: all 0.3s;
  z-index: 1;
}

.language-switcher img.active {
  z-index: 2;
  box-shadow: var(--icon-shadow);
}

.language-switcher img:nth-of-type(2) {
  visibility: hidden;
  right: -47px;
  z-index: 1;
}

.language-switcher.options-open img:nth-of-type(2) {
  visibility: visible;
  right: 0;
  z-index: 1;
}

.hero_body {
  position: relative;
  top: 50%;
  text-align: center;
}

.hero--header {
  font-size: 1.7rem;
  font-weight: 700;
}

.hero--subheader {
  padding: 0 10%;
  font-size: 1rem;
}

.hero_grid--links {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem auto;
}

.hero_grid--links img {
  border-radius: 50%;
  height: 48px;
}

html[data-theme='dark'] .hero_grid--links img {
  border: 2px solid white;
}
