* {
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    /* FONTS */
    --main-font-white: #28292b;
    --secondary-font-white: #8e8e91;
    --main-font-black: #f3f3f3;
    --secondary-font-black: #848687;

    /* COLOURS */
    --white-background: #fbfaff;
    --black-background: #282a2c;
    --light-black-background: #343739;
}

/* GENERAL */
body {
    background-color: var(--white-background);
    color: var(--main-font-white);
}

h2, h3 {
    text-align: center;
}

h2 {
    margin-bottom: 3rem;
}

p {
    color: var(--secondary-font-black);
}

.section {
    margin-bottom: 3rem;
}

.hide {
    display: none;
}

/* HERO */
#hero_section {
    /* CHANGE MEEEEEE */
    height: 30rem;
}

.navbar {
    margin-bottom: 3rem;
    color: var(--main-font-white);
    background: var(--white-background);
}

.navbar-brand img {
    width: 3rem;
}

.theme_div {
    position: absolute;
    top: 10%;
    right: 10%;
}

.theme_div img {
    width: 2rem;
}

.hero_body {
    padding-top: 10rem;
}

.hero_body--grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 1rem;
}

.hero_grid--2 {
    display: grid; 
    grid-template-columns: auto;
    gap: 1rem;
}

.hero_grid--2 a img {
    width: 1.5rem;
}

.send_mail--button {
    border: none;
    background: none;
}

.send_mail--button img {
    width: 1.5rem;
}

.hero_contact--link {
    font-size: 2rem;
    color: var(--main-font-white);
}

.hero_cv--link {
    font-family: "Spartan";
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2rem;
    padding-top: .2rem;
}

/* BIO */
#bio_section p {
    text-align: justify;
    padding: 0 10rem;
}

/* PROJECTS */
.project_item {
    height: auto;
    display: grid;
    margin-bottom: 5rem;
    padding: 0 8rem;
    gap: 1rem;
}

.project_item--left {
    grid-template-columns: 50% auto;
}

.project_item--right {
    grid-template-columns: auto 50%;
}

.project_item--left_image img,
.project_item--right_image img {
    width: 100%;
}

.project_image--main {
    transform: translateX(0);
    transition: all 1s;
    opacity: 1;
}

.project_secondary_images {
    grid-row: 1 / -1;
    padding-top: 2rem;
}

.project_image--secondary {
    transition: all 1s;
    opacity: 0;
    padding-bottom: 3rem;
}

.project_image--secondary.left {
    transform: translateX(-60rem);
}

.project_image--secondary.right {
    transform: translateX(60rem);
}

.project_image--secondary.left.slide_in,
.project_image--secondary.right.slide_in {
    transform: translateX(0);
    opacity: 1;
}

.project_image--main.left.slide_out {
    transform: translateX(-60rem);
    opacity: 0;
    display: none;
}

.project_image--main.right.slide_out {
    transform: translateX(60rem);
    opacity: 0;
    display: none;
}

.project_open--stack {
    display: grid;
    grid-template-rows: 3rem;
    justify-content: center;
    gap: 2rem;
}

.project_open--sacred_tribe_stack {
    grid-template-columns: repeat(6, 2.5rem);
}

.project_open--daily_chess_stack {
    grid-template-columns: repeat(5, 2.5rem);
}

.project_open--goals_stack {
    grid-template-columns: repeat(6, 2.5rem);
}

.project_item--left_body,
.project_item--left_image,
.project_item--right_image,
.project_item--right_body {
    display: grid;
    align-content: center;
}

.project_images.open {
    align-content: start;
}

.project_item--left_image,
.project_item--right_image {
    gap: 2rem;
}

.project_item--left_body .project_title {
    text-align: end;
}

.project_item--right_body .project_title {
    text-align: left;
}

.sacred_tribe--title {
    font-family: "Amatic SC";
    font-weight: 700;
    font-size: 2.5rem;
    color: #602f78;
}

.daily_chess--title {
    font-family: "Spartan";
    color: #8f3016;
    font-weight: 400;
}

.daily_chess--title_bold {
    font-weight: 600;
}

.goals_title {
    font-family: "Spartan";
    font-weight: 900;
    color: #3b8038;
}

.project_info {
    border: 1px solid var(--secondary-font-white);
    border-radius: 3px;
    padding: 1rem;
    background-color: white;
    position: relative;
}

.project_item--read_more {
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: .3rem;
}

.project_item--read_more:hover {
    text-decoration-style: solid;
    cursor: pointer;
    transform: scale(1.03);
}

.project_body {
    max-height: 0;
    overflow: hidden;
    transition: all 1s;
}

.project_body--open {
    max-height: 40rem;
} 

.project_body h4 {
    font-size: 1.2rem;
}

.project_links {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
}

.project_item--left_body .project_links {
    justify-content: end;
}

.project_item--right_body .project_links {
    justify-content: start;
}

.project_links button {
    background: none;
    border-radius: 3px;
}

.sacred_tribe--link {
    border: #602f78 1px solid;
    color: #602f78;
}

.sacred_tribe--link:hover {
    color: white;
    background-color: #602f78;
}

.daily_chess--link {
    border: #8f3016 1px solid;
    color: #8f3016;
}

.daily_chess--link:hover {
    color: white;
    background-color: #8f3016;
}

.goals--link {
    border: #3b8038 1px solid;
    color: #3b8038;
}

.goals--link:hover {
    color: white;
    background-color: #3b8038;
}

.github_link {
    border: #333 1px solid;
    color: #333;
}

.github_link:hover {
    color: white;
    background-color: #333;
}

.project_stack {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: all .3s;
    animation: grow 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }
    30% {
        opacity: 1;
    }
    70% {
        transform: scaleX(1.05);
    }
    100% {
        transform: scaleX(1);
    }
}

.project_stack:hover {
   transform: scaleX(1.03) !important;
}

.sacred-tribe_stack {
    grid-template-columns: repeat(11, auto);
}


.daily-chess_stack {
    grid-template-columns: repeat(7, auto);
}

.goals_stack {
    grid-template-columns: repeat(8, auto);
}

.project_stack img {
    width: 2rem;
    padding-bottom: .1rem;
}

.code_bracket {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main-font-white);
}

.project_stack--item {
    transition: all 0.3s;
    cursor: pointer;
}

.project_stack--item:hover {
    transform: translateY(-20%);
}

.stack_shrink  {
    animation: shrink 1s;
    animation-fill-mode: forwards;
}

@keyframes shrink {
    30% {
        transform: scaleX(1.05);
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: scaleX(0);
        opacity: 0;
    }
}

/* SKILLSET */
#skillset_section h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#skillset_section ul, li {
    list-style: none;
    padding: 0;
}

#skillset_section ul {
    list-style: none;
    display: grid;
    justify-content: center;
    gap: 2rem;
}

.skillset--frontend {
    grid-template-columns: repeat(4, 4rem);
}

.skillset--backend {
    grid-template-columns: repeat(4, 4rem);
}

.skillset--general {
    grid-template-columns: repeat(7, 4rem);
}

.skillset--languages {
    grid-template-columns: repeat(2, 4rem);
}

.skillset--learning {
    grid-template-columns: repeat(3, 4rem);
}

.skill_item {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.skill_item img {
    width: 4rem;
}

/* WHAT I CAN DO */



/* CONTACT */

.contact_form {
    border: 1px solid var(--secondary-font-black);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 20rem;
}

/* FOOTER */
#footer {
    height: auto;
    margin-top: auto;
    background-color: var(--secondary-font-black);
    color: white;
}