* {
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    /* FONTS */
    --light-mode-main-font: #28292b;
    --light-mode-secondary-font: #848687; 

    --dark-mode-main-font: #f3f3f3;
    --dark-mode-secondary-font: #8e8e91;

    --sacred-tribe-purple: #602f78;
    --daily-chess-red: #8f3016;
    --goals-green: #3b8038;
    --github-black: #333;
    --chess-com-green: #5b9e46;

    /* BACKGROUND COLOURS */
    --light-mode-main-background: #fbfaff;
    --light-mode-secondary-background: #FFFFFF;
    --light-mode-main-colour-background: #86C232;

    --dark-mode-main-background: #282a2c;
    --dark-mode-secondary-background: #343739;

    /* AVATAR */
    --avatar-bg: #ea885f;

}

/* GENERAL */
body {
    background-color: var(--light-mode-main-background);
    color: var(--light-mode-main-font);
}

/* h1 {
    font-size: 3.5rem;
} */

h2, h3 {
    text-align: center;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
}

h2 {
    margin-bottom: 3rem;
}

p {
    color: var(--light-mode-secondary-font);
}

.section {
    padding-top: 5rem;
    margin-bottom: 5rem;
}

.hide {
    display: none !important;
}

/* HERO */
#hero_section {
    height: 100vh;
    background-image: url('/assets/images/background-images/desktop.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 100%;
    background-size: 60%;
    margin-bottom: 3rem;
    padding-top: 3rem;
}

.navbar {
    margin-bottom: 3rem;
    background-color: var(--light-mode-main-background);
    color: var(--light-mode-main-font);
}

.navbar-brand img {
    width: 3rem;
}

.theme_div {
    position: absolute;
    top: 10%;
    right: 10%;
}

.theme_div img {
    width: 2rem;
}

.hero_body {
    position: relative;
    top: 10rem;
}

.hero_body--grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 1rem;
}

.hero--header {
    font-size: 3.2rem;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
}

.hero--subheader {
    font-size: 1.3rem;
}

.hero_grid_1--buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    gap: 1rem;
}

.hero--buttons {
    padding: 1rem;
    color: white;
}

.hire_me--button {
    border: 1px solid #ea885f;
    color: #ea885f;
}

.view_portfolio--button {
    border: 1px solid #49A117;
    color: #49A117;
}

.hire_me--button:hover {
    background: #ea885f;
    color: white;
}

.view_portfolio--button:hover {
    background: #49A117;
    color: white;
}

.hero_grid--2 {
    display: grid; 
    grid-template-columns: auto;
    gap: .2rem;
}

.hero_grid--2 a img {
    width: 1.5rem;
}

.hero_contact--link {
    font-size: 1.5rem;
    color: var(--light-mode-main-font);
}

.hero_contact--link:hover {
    color: var(--light-mode-secondary-font);
}

.hero_cv--link {
    font-family: "Spartan";
    font-weight: 700;
    text-decoration: none;
    font-size: 1rem;
    padding-top: .2rem;
}

/* BIO */
.avatar {
    display: block;
    margin: 0 auto 2.5rem;
    height: 10rem;
}

#bio_section p {
    text-align: justify;
    padding: 0 14rem;
}

/* WHAT I CAN DO */
/* #what-i-do_section {

} */

.what_i_do--grid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: auto;
    background-image: url('/assets/images/background-images/new5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    align-content: space-around;
    row-gap: 4rem;
    overflow: hidden;
    padding: 2rem 0;
}

.what_i_do--grid_item {
    grid-column: 2 / 7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    background-image: url('/assets/images/background-images/background.png');
    background-color: var(--light-mode-secondary-background);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    gap: 0.5rem;
    padding: 5rem 3rem 1rem;
    border-radius: 15px;
    justify-items: center;
    transform: translateX(-30rem);
    opacity: 0;
    transition: all .75s;
}

.what_i_do--grid_item_right {
    transform: translateX(30rem);
}

.what_i_do--grid_item.active,
.what_i_do--grid_item_right.active {
    transform: translateX(0rem);
    opacity: 1;
} 

.what_i_do--grid_item_right {
    grid-column: 5 / -2;
}

.what_i_do--grid_item_2 {
    grid-row: 2 / 3;
}

.what_i_do--grid_item_3 {
    grid-row: 3 / 4;
}

.what_i_do--grid_item_4 {
    grid-row: 4 / 5;
}

.what_i_do--grid_item_5 {
    grid-row: 5 / 6;
}

.what_i_do--grid_item img {
    width: 5rem;
    min-height: 4rem;
}

.what_i_do--grid_item_4 img {
    width: 4.5rem;
    min-height: 4rem;
}

.what_i_do--grid_item_body h3 {
    font-size: 1.5rem;
}

/* PROJECTS */
.project_item {
    height: auto;
    display: grid;
    margin: 0 1rem 7rem;
    padding: 0 7rem;
    gap: 1rem;
    border-radius: 3px;
}

.project--goals.project_item {
    margin: 0 1rem 2rem;
}

.project_item.project_open {
    margin-bottom: 5rem;
}

.project_item--left {
    grid-template-columns: 50% auto;
}

.project_item--right {
    grid-template-columns: auto 50%;
}

.project_images {
    display: grid;
    grid-template-rows: auto;
    gap: 0;
    transition: max-height 1s;
}

.project_images img {
    width: 100%;
    height: auto;
}

.project_images.images_open {
    align-content: space-around;
}

.secondary_images {
    display: grid;
    transition: all 1s;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
}

.secondary_images.show_secondary_images {
   opacity: 1;
   max-height: 30rem;
}

.chess_gif {
    max-height: 30rem;
    max-width: 15rem;
    margin: .5rem auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.goals_gif {
    margin: 1rem auto;
    max-width: 95%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project_item--left_body .project_title {
    text-align: end;
}

.project_item--right_body .project_title {
    text-align: left;
}

.sacred_tribe--title {
    font-family: "Amatic SC";
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--sacred-tribe-purple);
}

.daily_chess--title {
    font-family: "Spartan";
    color: var(--daily-chess-red);
    font-weight: 400;
}

.daily_chess--title_bold {
    font-weight: 600;
}

.goals_title {
    font-family: "Spartan";
    font-weight: 900;
    color: var(--goals-green);
}

.project_info {
    border-radius: 3px;
    padding: 1rem;
    background-color: var(--light-mode-secondary-background);
    position: relative;
}

/* .project--sacred_tribe_energy_healing, */
.project--sacred_tribe_energy_healing .project_info {
    border: 1px solid var(--sacred-tribe-purple);
}

/* .project--daily_chess_puzzle, */
.project--daily_chess_puzzle .project_info {
    border: 1px solid var(--daily-chess-red);
}

/* .project--goals, */
.project--goals .project_info {
    border: 1px solid var(--goals-green);
}

.project_item--read_more {
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: .3rem;
    margin-bottom: 1.5rem;
}

.project_item--read_more:hover {
    text-decoration-style: solid;
    cursor: pointer;
    transform: scale(1.03);
}

.project_blurb {
    max-height: 10rem;
    overflow: hidden;
    transition: all .5s;
    transition-delay: .3s;
}

.project_blurb.blurb_shrink {
    max-height: 0;
    opacity: 0.5;
}

.project_body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

.project_body--open {
    max-height: 70rem;
} 

.project_body h4 {
    font-size: 1.1rem;
}

.project_notable_features li {
    list-style: initial;
    color: var(--light-mode-secondary-font);
}

.project_links {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
}

.chess_links {
    grid-template-columns: auto auto 1fr;
}

.project_item--left_body .project_links {
    justify-content: end;
}

.project_item--right_body .project_links {
    justify-content: start;
}

.project_links button {
    background: none;
    border-radius: 3px;
}

.sacred_tribe--link {
    border: var(--sacred-tribe-purple) 1px solid;
    color: var(--sacred-tribe-purple);
}

.sacred_tribe--link:hover {
    color: white;
    background-color: var(--sacred-tribe-purple);
}

.daily_chess--link {
    border: var(--daily-chess-red) 1px solid;
    color: var(--daily-chess-red);
}

.daily_chess--link:hover {
    color: white;
    background-color: var(--daily-chess-red);
}

.goals--link {
    border: var(--goals-green) 1px solid;
    color: var(--goals-green);
}

.goals--link:hover {
    color: white;
    background-color: var(--goals-green);
}

.github_link {
    border: var(--github-black) 1px solid;
    color: var(--github-black);
}

.github_link:hover {
    color: white;
    background-color: var(--github-black);
}

.chess_com_link {
    border: var(--chess-com-green) 1px solid;
    color: var(--chess-com-green);
}

.chess_com_link img {
    height: 1.3rem;
    padding-bottom: 0.2rem;
}

.chess_com_link:hover {
    color: white;
    background-color: var(--chess-com-green);
}

.project_stack {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-height: 5rem;
    transition: all .5s;
}

.project_stack:hover {
    transform: scaleX(1.03);
}

.hide_stack {
    transition: all 1s;
    opacity: 0;
    max-height: 0;
}

.sacred-tribe_stack {
    grid-template-columns: repeat(11, auto);
}

.daily-chess_stack {
    grid-template-columns: repeat(9, auto);
}

.goals_stack {
    grid-template-columns: repeat(8, auto);
}

.code_bracket {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--light-mode-main-font);
}

.project_stack--item {
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}

.project_stack img {
    width: 2rem;
    padding-bottom: .1rem;
}

.project_stack--item:hover {
    transform: translateY(-20%);
}

.project_stack--description {
    position: absolute;
    bottom: 3rem;
    right: -15rem;
    width: 30rem;
    height: auto;
    padding: 1rem;
    border-radius: 3px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
    cursor: initial;
}

.project_stack--description.description_out_of_view {
    right: -10rem;
}

.description_large {
    bottom: 4rem;
    right: -14rem;
}

.project_stack--description h4 {
    font-size: 1rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: .3rem;
}

.project_stack--item:hover .project_stack--description {
    opacity: 1;
    visibility: visible;
}

.project_open--stack {
    grid-column: 1 /-1;
    margin-top: 2rem;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.project_open--stack img {
    width: 3rem;
}

.project_open--stack.bouncing_icon .project_stack--item.bounce {
    animation: bounce 3s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    25% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-20%);
    }
}

.project_open--stack .code_bracket {
    font-size: 3rem;
}

.project_open--stack.show_large_stack {
    display: grid;
}


/* SKILLSET */
#skillset_section h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#skillset_section ul, li {
    list-style: none;
    padding: 0;
}

#skillset_section ul {
    margin-bottom: 4rem;
}

#skillset_section ul {
    list-style: none;
    display: grid;
    justify-content: center;
    gap: 2rem;
}

.skillset--frontend {
    grid-template-columns: repeat(4, auto);
}

.skillset--backend {
    grid-template-columns: repeat(4, auto);
}

.skillset--general {
    grid-template-columns: repeat(7, auto);
}

.skillset--languages {
    grid-template-columns: repeat(2, auto);
}

.skillset--learning {
    grid-template-columns: repeat(3, auto);
}

.skill_item {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    align-items: center;
    align-content: center;
    gap: .5rem;
    width: 7rem;
    height: 7rem;
    border-radius: 5px;
    background-color: var(--light-mode-secondary-background);
}

.skill_item img {
    width: 3rem;
}

.skill_item p {
    margin-bottom: 0;
    font-weight: 500;
}

/* CONTACT */
.contact_form {
    padding: 1rem;
    border-radius: 5px;
    margin: 0 20rem;
    background-color: white;
}

.form_submit {
    display: grid;
    justify-content: center;
    margin: 1.5rem auto;
}

/* FOOTER */
#footer {
    height: 10rem;
    margin-top: 5rem;
    margin-bottom: 0;
    background-color: var(--dark-mode-secondary-font);
    color: white;
}