* {
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  /* COLOR PALETTE */
  --primary-color: #efb45d;
  --secondary-color: #1d6aa3;
  --accent-color: #5bb0f0;
  /* WORKS STYLES */
  /* --sacred-tribe-purple: #602f78;
  --daily-chess-red: #8f3016;
  --goals-green: #3b8038;
  --github-black: #333;
  --chess-com-green: #5b9e46; */
}
/* Light Mode */
html[data-theme='light'] {
  --primary-background-color: #fbfaff;
  --secondary-background-color: #ffffff;
  --primary-text-color: #28292b;
  --secondary-text-color: #555657;
  --icon-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Dark Mode */
html[data-theme='dark'] {
  --primary-background-color: #121212;
  --secondary-background-color: #1e1e1e;
  --primary-text-color: #f3f3f3;
  --secondary-text-color: #8e8e91;
  --icon-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

/* GENERAL */
html,
body {
  font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-background-color);
}

#content-wrapper {
  padding: 0 5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text-color);
}

p {
  color: var(--secondary-text-color);
}

.hide {
  display: none !important;
}

/* MAIN BUTTON */
.blue-button {
  text-align: center;
  background-color: var(--secondary-color);
  color: white;
  font-weight: 700;
  padding: 20px 30px;
  border-radius: 10px;
  position: relative;
}

.blue-button::before {
  position: absolute;
  background-color: var(--primary-color);
  box-shadow: var(--icon-shadow);
  content: '';
  top: 8px;
  left: 8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;
  border-radius: 10px;
}
