.skills_header {
  text-align: center;
  margin: 1rem auto;
}

#skillset_section h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

#skillset_section ul,
li {
  list-style: none;
  padding: 0;
}

#skillset_section ul {
  margin-bottom: 2rem;
}

#skillset_section ul {
  list-style: none;
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(6, auto);
}

#skillset_section ul.skillset--languages {
  grid-template-columns: repeat(6, auto);
}

#skillset_section ul.skillset--learning {
  grid-template-columns: repeat(6, auto);
}

.skill_item {
  grid-column: span 2;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  justify-items: center;
  text-align: center;
  align-items: center;
  align-content: center;
  height: 6rem;
  width: 6rem;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.skill-center-sm {
  grid-column: 2 / 4;
}

.wordpress.skill-center-sm {
  grid-column: 3 / 5;
}

.shopify.skill-center-sm {
  grid-column: 2 / 4;
}

.skill_item img {
  max-width: 2.5rem;
}

html[data-theme='dark'] .github-icon {
  border-radius: 50%;
  border: 1px solid white;
}

.skill_item p {
  margin-bottom: 0;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  #skillset_section ul {
    grid-template-columns: repeat(10, auto);
  }
  .skill-center-sm {
    grid-column: span 2;
  }

  .bootstrap.skill-center-lg {
    grid-column: 4 / 6;
  }

  .wordpress.skill-center-lg {
    grid-column: 6 / 8;
  }

  .postman.skill-center-lg {
    grid-column: 3 / 5;
  }

  .shopify.skill-center-lg {
    grid-column: 5 / 7;
  }

  .heroku.skill-center-lg {
    grid-column: 7 / 9;
  }
}

@media (min-width: 1024px) {
  .skill_item {
    height: 7rem;
    width: 7rem;
    align-content: space-evenly;
  }

  .skill_item img {
    max-width: 3rem;
  }
}
