#what-i-do_section {
  margin-top: 5rem;
}

.what-i-do_header {
  text-align: center;
  margin: 1rem auto;
}

.what_i_do--grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.what_i_do--grid_item {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--primary-color);
  position: relative;
  border-radius: 10px;
  padding: 20px;
}

.what_i_do--grid_item::before {
  position: absolute;
  background-color: var(--primary-color);
  box-shadow: var(--icon-shadow);
  content: '';
  border-radius: 10px;
  top: 8px;
  left: 8px;
  bottom: -8px;
  right: -8px;
  z-index: -1;
}

.what_i_do--grid_item img {
  display: block;
  margin: 0 auto;
  width: 30%;
}

.what_i_do--grid_item h3 {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 8px;
}

.what_i_do--grid_item p {
  font-size: 0.9rem;
}
