.project_item {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--primary-color);
  position: relative;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 2rem;
}

.project_item::before {
  position: absolute;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  content: '';
  border-radius: 10px;
  top: 5px;
  left: 5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
}

.works-grid {
  display: grid;
  grid-template-columns: auto;
}

.project_images img {
  max-width: 90%;
  display: block;
  margin: 1rem auto;
}

.project_item p,
.project_item li {
  font-size: 0.9rem;
}

.project_body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}

.project_body--open {
  max-height: 150rem;
}

.project_notable_features li {
  list-style: initial;
}

.project_notable_features ul {
  padding-inline-start: 20px;
}

.project_stack {
  display: grid;
  grid-template-columns: repeat(5, auto);
  row-gap: 1rem;
  justify-content: space-around;
  margin: 1rem auto 2rem;
}

.project_stack img {
  max-height: 2rem;
}

.project_item--read_more,
.project_item--read_less {
  text-align: center;
  outline: none;
  background: none;
  border: none;
  color: var(--secondary-text-color);
  font-size: 0.9rem;
  margin: 0 auto;
  display: block;
  margin-bottom: 1.5rem;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.3rem;
}

.project_item--read_more:focus,
.project_item--read_less:focus {
  outline: none;
  background: none;
  border: none;
}

.project_links {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 1rem;
}

.project--goals .project_links {
  gap: 0;
}

.chess--challenge_link {
  grid-column: 1 / -1;
}

.chess_com_link {
  background-color: var(--chess-com-green);
  color: white;
}

.chess_com_link img {
  height: 1.3rem;
  padding-bottom: 0.2rem;
}

@media (min-width: 768px) {
  .works-grid {
    align-items: center;
    grid-template-columns: auto auto;
    gap: 1rem;
  }

  .works-order-2-desktop {
    order: 2;
  }

  .project_item--reverse .works-grid {
    direction: rtl;
  }

  .project--daily_chess_puzzle .project_links {
    grid-template-columns: repeat(3, auto);
  }

  .chess--challenge_link {
    grid-column: unset;
  }
}
