.project_item {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--primary-color);
  position: relative;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 2rem;
}

.project_item::before {
  position: absolute;
  background-color: var(--primary-color);
  box-shadow: var(--icon-shadow);
  content: '';
  border-radius: 10px;
  top: 5px;
  left: 5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
}

.project_item h3 {
  font-size: 1.2rem;
}

.project_images img {
  max-width: 90%;
  display: block;
  margin: 1rem auto;
}

.project_item p,
.project_item li {
  font-size: 0.9rem;
}

.project_body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}

.project_body--open {
  max-height: 150rem;
}

.project_notable_features li {
  list-style: initial;
}

.project_notable_features ul {
  padding-inline-start: 20px;
}

.project_stack {
  display: grid;
  grid-template-columns: repeat(5, auto);
  row-gap: 1rem;
  justify-content: space-around;
  margin: 1rem auto 2rem;
}

.project_stack img {
  max-height: 2rem;
}

.project_item--read_more {
  text-align: center;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 0.3rem;
}

.project_links {
  text-align: center;
}

.chess_com_link {
  background-color: var(--chess-com-green);
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  padding: 10px 20px;
  border-radius: 10px;
}

.chess_com_link img {
  height: 1.3rem;
  padding-bottom: 0.2rem;
}
