<div id="contact_section" class="section">
  <div class="contact_container">
      <h2>Get in touch!</h2>

      <div class="contact_grid">
          <div class="contact_grid_1">
              <div class="contact_grid-1--top">
                  <div class="contact_information">
                      <h3>Contact Information</h3>
                      <p>Tell me a little about your project and I will get back to you within 24 hours</p>
                  </div>
                  <div class="contact_grid_item contact--email">
                      <img src="/assets/images/icons/email.png" loading="lazy" alt="Email Icon">
                      <p>info@stephenlenane.com</p>
                      <p class="copied_to_clipboard">Copied to Clipboard</p>
                  </div>
              </div>
          </div>
      

          <form class="contact_form shadow" novalidate>
              <div class="form_loader"></div>
              <div class="form_overlay">

                  <div class="form_failure hide">
                      <p>Oh no! Something went wrong. Please try again</p>
                  </div>

                  <div class="form-group">
                      <label class="contact_label" for="contact_name">Name</label>
                      <input type="text" class="form-control" id="contact_name" name="contact[name]" aria-describedby="name" required>
                  </div>
                  <div class="form-group">
                      <label class="contact_label" for="contact_email">Email</label>
                      <input type="email" class="form-control" id="contact_email" name="contact[email]" aria-describedby="email" required>
                  </div>
                  <div class="form-group">
                      <label class="contact_label" for="contact_phone">Phone</label>
                      <input type="tel" class="form-control" id="contact_phone" name="contact[phone]" aria-describedby="phone" required>
                  </div>
                  <div class="service_select">
                      <label for="radio_group">What services are you interested in?</label>
                      <div id="radio_group" class="contact_radio_group">
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="contact[service]" id="web_development" value="Web development" checked required>
                              <label class="form-check-label" for="web_development">
                                  Web Development
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="contact[service]" id="website_update" value="Website update">
                              <label class="form-check-label" for="website_update">
                                  Website Update
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="contact[service]" id="other_service" value="Other service">
                              <label class="form-check-label" for="other_service">
                                  Other
                              </label>
                          </div>
                      </div>
                  </div>

                  <div class="form-group website_url--input hide">
                      <label class="contact_label" for="contact_website">Website URL</label>
                      <input type="text" class="form-control" id="contact_website" name="contact[website]" aria-describedby="website">
                  </div>

                  <div class="form-group">
                      <label class="contact_label" for="contact_message" >Message</label>
                      <textarea class="form-control" id="contact_message" name="contact[message]" rows="3" required></textarea>
                  </div>
  
                  <div class="form_submit">
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>

              </div>

              <div class="form_success hide">
                  <img class="form_success--1" src="/assets/images/icons/tick.png" alt="Tick Icon">
                  <h3 class="form_success--2">Thank You!</h3>
                  <p class="form_success--3">I'll get back to you as soon as possible</p>
              </div>

          </form>

      </div>
      </div>
  </div>
  
</div>