<div id="hero_section">
  <!-- NAVBAR -->
  <nav class="navbar fixed-top navbar-expand-md navbar-light pt-0 mt-0">
    <a class="navbar-brand" href="/" aria-label="Brand">
      <img
        class="navbar-brand_image"
        src="/assets/images/icons/avatar-sm.webp"
        alt="Stephen Lenane Logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-label="Bio Section"
            target="_blank"
            href="https://slenane.github.io/CV/"
            >CV</a
          >
        </li>
        <!-- <li class="nav-item">
          <a
            class="nav-link"
            aria-label="What I Do Section"
            href="#what-i-do_section"
            >What I Do</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-label="Works Section" href="#project_section"
            >Works</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-label="Skill Set Section"
            href="#skillset_section"
            >Skill Set</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            aria-label="Contact Section"
            href="#contact_section"
            >Contact</a
          >
        </li> -->
      </ul>
    </div>
  </nav>

  <div class="hero-options">
    <div class="theme-switcher">
      <img
        class="dark-mode"
        src="/assets/images/icons/dark-mode.png"
        alt="Dark mode icon"
      />
      <img
        class="light-mode hide"
        src="/assets/images/icons/light-mode.png"
        alt="Light mode icon"
      />
    </div>
    <div class="language-switcher">
      <img
        class="lang-english"
        src="/assets/images/icons/uk-circle.png"
        alt="English language icon"
      />
      <img
        class="lang-spanish hide-language"
        src="/assets/images/icons/spain-circle.png"
        alt="Spanish language icon"
      />
    </div>
  </div>

  <div class="hero_body">
    <h1 class="hero--header">Stephen Lenane</h1>
    <div class="hero_body--grid">
      <div class="hero_grid">
        <p class="hero--subheader">
          Front-end developer from Ireland based in Lisbon, Portugal
          <i class="fa fa-regular fa-sun-bright"></i>
        </p>
        <div class="hero_grid--links">
          <a
            target="_blank"
            aria-label="View my CV"
            rel="noreferrer"
            class="hero_contact--link"
            href="https://slenane.github.io/CV/"
            ><img
              class="cv--link"
              src="/assets/images/icons/cv-light.png"
              alt="CV Link"
          /></a>
          <a
            target="_blank"
            aria-label="View my GitHub profile"
            rel="noreferrer"
            class="hero_contact--link"
            href="https://github.com/slenane"
            ><img
              class="github--link"
              src="/assets/images/icons/github-light.png"
              alt="GitHub Logo"
          /></a>
          <a
            target="_blank"
            aria-label="View my Linkedin profile"
            rel="noreferrer"
            class="hero_contact--link"
            href="https://www.linkedin.com/in/stephen-lenane-6756a0228/"
          >
            <img
              class="linkedin--link"
              src="/assets/images/icons/linkedin-light.png"
              alt="Linkedin Logo"
          /></a>
        </div>
        <a href="#contact_section" aria-label="Hire Me Button">
          <button type="button" class="btn hire-me-button">HIRE ME</button>
        </a>
      </div>
    </div>
  </div>
</div>
