<div id="hero_section">
  <!-- NAVBAR -->
  <nav class="navbar fixed-top navbar-light pt-0 mt-0">
    <a class="navbar-brand" href="#" aria-label="Brand">
      <img
        class="navbar-brand_image"
        src="/assets/images/icons/avatar-sm.webp"
        alt="Stephen Lenane Logo"
      />
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-cv">
        <a href="https://slenane.github.io/CV/">cv</a>
      </li>
      <li class="nav-email">
        <a href="mailto:info@stephenlenane.com">email</a>
      </li>
    </ul>
  </nav>

  <div class="hero-options">
    <div class="theme-switcher">
      <img
        class="dark-mode"
        src="/assets/images/icons/dark-mode.png"
        alt="Dark mode icon"
      />
      <img
        class="light-mode hide"
        src="/assets/images/icons/light-mode.png"
        alt="Light mode icon"
      />
    </div>
    <div class="language-switcher">
      <img
        data-language="en"
        src="/assets/images/icons/united-kingdom-circle.png"
        alt="English language icon"
      />
      <img
        data-language="es"
        src="/assets/images/icons/spain-circle.png"
        alt="Spanish language icon"
      />
    </div>
  </div>

  <div class="hero_body">
    <h1 class="hero--header">Stephen Lenane</h1>
    <div class="hero_body--grid">
      <div class="hero_grid">
        <p class="hero--subheader" data-i18n-key="hero-sub-heading">
          Front-end developer from Ireland based in Seville, Spain
        </p>
        <div class="hero_grid--links">
          <a
            target="_blank"
            aria-label="View my CV"
            rel="noreferrer"
            class="hero_contact--link"
            href="https://slenane.github.io/CV/"
            ><img
              class="cv--link"
              src="/assets/images/icons/cv.jpg"
              alt="CV Link"
          /></a>
          <a
            target="_blank"
            aria-label="View my GitHub profile"
            rel="noreferrer"
            class="hero_contact--link"
            href="https://github.com/slenane"
            ><img
              class="github--link"
              src="/assets/images/icons/github.png"
              alt="GitHub Logo"
          /></a>
          <a
            target="_blank"
            aria-label="View my Linkedin profile"
            rel="noreferrer"
            class="hero_contact--link"
            href="https://www.linkedin.com/in/stephen-lenane-6756a0228/"
          >
            <img
              class="linkedin--link"
              src="/assets/images/icons/linkedin.png"
              alt="Linkedin Logo"
          /></a>
        </div>
        <a href="#contact_section" aria-label="Hire Me Button">
          <button
            type="button"
            class="btn hire-me-button"
            data-i18n-key="hire-me-button"
          >
            HIRE ME
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
