<div id="skillset_section" class="section">
  <h2 class="skills_header" data-i18n-key="skills-header">Skill Set</h2>
  <div class="skills_container">
    <h3 data-i18n-key="front-end">Front-end</h3>
    <ul class="skillset--frontend">
      <li class="skill_item">
        <img
          src="/assets/images/icons/html5.png"
          class="html-icon"
          loading="lazy"
          alt="HTML Logo"
        />
        <p>HTML</p>
      </li>
      <li class="skill_item">
        <img
          src="/assets/images/icons/css3.png"
          class="css-icon"
          loading="lazy"
          alt="CSS Logo"
        />
        <p>CSS</p>
      </li>
      <li class="skill_item">
        <img
          src="/assets/images/icons/javascript.png"
          loading="lazy"
          alt="JavaScript Logo"
        />
        <p>JavaScript</p>
      </li>
      <li class="skill_item">
        <img
          src="/assets/images/icons/bootstrap.png"
          loading="lazy"
          alt="Bootstrap Logo"
        />
        <p>Bootstrap</p>
      </li>
      <li class="skill_item">
        <img
          src="/assets/images/icons/wordpress.png"
          loading="lazy"
          alt="WordPress Logo"
        />
        <p>WordPress</p>
      </li>
    </ul>

    <h3 data-i18n-key="back-end">Back-end</h3>
    <ul class="skillset--backend">
      <li class="skill_item">
        <img
          src="/assets/images/icons/nodejs.png"
          class="nodejs-icon"
          loading="lazy"
          alt="Node.js Logo"
        />
        <p>Node.js</p>
      </li>
      <li class="skill_item">
        <img
          src="/assets/images/icons/express.png"
          class="express-icon"
          loading="lazy"
          alt="Express.js Logo"
        />
        <p>Express.js</p>
      </li>
      <li class="skill_item">
        <img src="/assets/images/icons/php.png" loading="lazy" alt="PHP Logo" />
        <p>PHP</p>
      </li>
      <li class="skill_item">
        <img
          src="/assets/images/icons/mongodb.png"
          loading="lazy"
          alt="MongoDB Logo"
        />
        <p>MongoDB</p>
      </li>
      <li class="skill_item">
        <img
          src="/assets/images/icons/mysql.png"
          loading="lazy"
          alt="MySQL Logo"
        />
        <p>MySQL</p>
      </li>
    </ul>

    <h3 data-i18n-key="general">General</h3>
    <ul class="skillset--general">
      <li class="skill_item">
        <img
          src="/assets/images/icons/adobe-xd.png"
          loading="lazy"
          alt="Adobe XD Logo"
        />
        <p>Adobe XD</p>
      </li>
      <li class="skill_item">
        <img
          src="/assets/images/icons/gimp.png"
          loading="lazy"
          alt="Gimp Logo"
        />
        <p>Gimp</p>
      </li>
      <li class="skill_item">
        <img src="/assets/images/icons/git.png" loading="lazy" alt="Git Logo" />
        <p>Git</p>
      </li>
      <li class="skill_item">
        <img
          src="/assets/images/icons/github.png"
          class="github-icon"
          loading="lazy"
          alt="GitHub Logo"
        />
        <p>GitHub</p>
      </li>

      <li class="skill_item">
        <img
          src="/assets/images/icons/visual-studio-code.png"
          loading="lazy"
          alt="Visual Studio Code Logo"
        />
        <p>VS Code</p>
      </li>
      <li class="skill_item">
        <img
          src="/assets/images/icons/shopify.png"
          loading="lazy"
          alt="Shopify Logo"
        />
        <p>Shopify</p>
      </li>
      <li class="skill_item">
        <img
          src="/assets/images/icons/heroku.png"
          loading="lazy"
          alt="Heroku Logo"
        />
        <p>Heroku</p>
      </li>
    </ul>

    <div class="skillset--sub_grid">
      <div class="skillset--sub_grid_1">
        <h3 data-i18n-key="languages">Languages</h3>
        <ul class="skillset--languages">
          <li class="skill_item">
            <img
              src="/assets/images/icons/united-kingdom.png"
              loading="lazy"
              alt="United Kingdom Flag"
            />
            <p data-i18n-key="en-name">English</p>
            <p><em data-i18n-key="en-level">Native</em></p>
          </li>
          <li class="skill_item">
            <img
              src="/assets/images/icons/spain.png"
              loading="lazy"
              alt="Spanish Flag"
            />
            <p data-i18n-key="es-name">Spanish</p>
            <p><em>C1</em></p>
          </li>
          <li class="skill_item">
            <img
              src="/assets/images/icons/portugal.png"
              loading="lazy"
              alt="Portuguese Flag"
            />
            <p data-i18n-key="pt-name">Portuguese</p>
            <p><em>A2</em></p>
          </li>
        </ul>
      </div>

      <div class="skillset--sub_grid_2">
        <h3 data-i18n-key="currently-learning">Currently Learning</h3>
        <ul class="skillset--learning">
          <li class="skill_item">
            <img
              src="/assets/images/icons/react.png"
              loading="lazy"
              alt="React Logo"
            />
            <p>React</p>
          </li>
          <li class="skill_item">
            <img
              src="/assets/images/icons/graphql.png"
              loading="lazy"
              alt="GraphQL Logo"
            />
            <p>GraphQL</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
