<div id="what-i-do_section">
  <h2 class="what-i-do_header" data-i18n-key="what-i-do-header">What I do</h2>

  <div class="what_i_do--grid">
    <div class="what_i_do--grid_item">
      <img
        class="des-dev-img"
        src="/assets/images/icons/design-develop-light.png"
        alt="Web Development Icon"
      />
      <div class="what_i_do--grid_item_body">
        <h3 data-i18n-key="design-and-develop">Design & Develop</h3>
        <p data-i18n-key="design-and-develop-text">
          Create modern, personalised designs and develop custom solutions to
          provide an alternative to expensive drag-and-drop website providers
        </p>
      </div>
    </div>

    <div class="what_i_do--grid_item">
      <img
        class="res-img"
        src="/assets/images/icons/responsive-light.png"
        alt="Responsive Design Icon"
      />
      <div class="what_i_do--grid_item_body">
        <h3 data-i18n-key="responsive-design">Responsive Design</h3>
        <p data-i18n-key="responsive-design-text">
          Develop mobile-first sites that look great on all devices and ensure
          optimal user experience
        </p>
      </div>
    </div>

    <div class="what_i_do--grid_item">
      <img
        class="seo-img"
        src="/assets/images/icons/seo-light.png"
        alt="Search Engine Optimization Icon"
      />
      <div class="what_i_do--grid_item_body">
        <h3 data-i18n-key="seo-analytics">SEO & Analytics</h3>
        <p data-i18n-key="seo-analytics-text">
          Focus on performance, accessibility and best practices to can make
          your website fast, easy to find, and reach the widest audience
          possible
        </p>
      </div>
    </div>

    <div class="what_i_do--grid_item">
      <img
        class="e-com-img"
        src="/assets/images/icons/ecommerce-light.png"
        alt="E-commerce Icon"
      />
      <div class="what_i_do--grid_item_body">
        <h3 data-i18n-key="e-commerce">E-commerce</h3>
        <p data-i18n-key="e-commerce-text">
          Integrate e-commerce platform payment gateways with custom product
          templates allowing you to maintain full control of your business
        </p>
      </div>
    </div>
  </div>
</div>
