<div id="works_section" class="section">
  <h2 class="works_header">Works</h2>

  <!-- SACRED TRIBE ENERGY HEALING -->
  <%- include('./works/sacred-tribe.ejs') %>

  <!-- DAILY CHESS PUZZLE -->
  <%- include('./works/daily-chess.ejs') %>

  <!-- GOALS -->
  <%- include('./works/goals.ejs') %>
</div>
