<div class="project--cxblog project_item">
  <h3 class="project_title">CXBlog</h3>
  <div class="project-intro">
    <div class="works-grid">
      <div class="project_images">
        <img loading="lazy" src="" alt="" />
      </div>
      <p class="project_blurb"></p>
    </div>
  </div>

  <div class="project_body">
    <div class="works-grid">
      <div class="project_description">
        <h4>Description</h4>
        <p></p>
      </div>

      <div class="project_images">
        <img loading="lazy" src="" alt="" />
      </div>
    </div>

    <div class="works-grid">
      <div class="project_difficulties">
        <h4>Difficulties</h4>
        <p></p>
      </div>

      <div class="project_images">
        <img loading="lazy" src="" alt="" />
      </div>
    </div>

    <div class="works-grid">
      <div class="project_solutions">
        <h4>Solutions</h4>
        <p></p>
      </div>

      <div class="works-sub-grid">
        <div class="project_notable_features">
          <h4>Notable Features</h4>
          <ul>
            <li></li>
          </ul>
        </div>

        <!-- Project stack -->
        <div class="project-stack--container">
          <h4>Project Stack</h4>

          <div class="project_stack daily-chess_stack">
            <p class="code_bracket">{</p>
            <img
              class="project_stack--icon html-icon"
              loading="lazy"
              src="/assets/images/icons/html5.png"
              alt="HTML Logo"
            />
            <img
              class="project_stack--icon css-icon"
              loading="lazy"
              src="/assets/images/icons/css3.png"
              alt="CSS Logo"
            />
            <img
              class="project_stack--icon"
              loading="lazy"
              src="/assets/images/icons/javascript.png"
              alt="JavaScript Logo"
            />
            <p class="code_bracket">}</p>
          </div>
        </div>
        <!-- End of Project stack -->
      </div>
    </div>
  </div>
  <!-- End of project body -->

  <button class="project_item--read_more" data-i18n-key="read-more">
    Read more
  </button>
  <button class="project_item--read_less hide" data-i18n-key="read-less">
    Read less
  </button>

  <!-- Project links -->
  <div class="project_links">
    <a target="_blank" aria-label="" rel="noreferrer" href=""
      ><button type="button" class="btn link-button works-view-site-button">
        View Site
      </button></a
    >
  </div>
  <!-- End of project links -->
</div>
