<div class="project--goals project_item project_item--left">
  <h3 class="project_title goals_title">Goals</h3>
  <div class="project_images">
    <img
      class="project_image--main"
      loading="lazy"
      src="/assets/images/goals/goal-tracker1.png"
      alt="Goal Tracker Preview"
    />
  </div>
  <div class="project_info">
    <p class="project_blurb">
      Goals web application allows users to track yearly goals and see their
      progress in real time. Whether you want to achieve something or kick a bad
      habit, this application will help you stay focused.
    </p>

    <div class="project_body">
      <div class="project_description">
        <h4>Description</h4>
        <p>
          Updates on your progress are essential to keeping you motivated to
          achieve your goals. This application allows you to track and view your
          progress in real time, regardless of the type of goal. Goals are
          divided into categories to maintain focus on all goals.
        </p>
      </div>

      <div class="project_images">
        <img
          class="project_image--secondary goals_gif"
          loading="lazy"
          src="/assets/images/goals/goal-tracker.gif"
          alt="Goal Tracker Preview"
        />
      </div>

      <div class="project_difficulties">
        <h4>Difficulties</h4>
        <p>
          Not all goals can be measured in the same way. If you would like to
          quit or achieve something, they need to be tracked in different ways.
          Some goals can be marked with a checkbox, while others may need to be
          shown with a target value. With target values, users need to be able
          to write notes to reflect on how they have progressed.
        </p>
      </div>

      <div class="project_images">
        <img
          class="project_image--secondary"
          loading="lazy"
          src="/assets/images/goals/goal-tracker2.png"
          alt="Goal Tracker Preview"
        />
      </div>

      <div class="project_solutions">
        <h4>Solutions</h4>
        <p>
          Users add sub-goals to the goal categories which make up the
          percentage complete value. Checked and target sub-goals are weighted
          evenly, with the percentage completion of the targets being
          immediately added to the goal percentage. This allows for a more
          accurate representation of user progress. For example, if you plan to
          run 1,000km in a year, the percentage completion will be updated with
          each entry and not only when the target is reached. Notes can be added
          to the targets to keep track of your progress. Goals can be organised
          as the user sees fit and sub-goals are moved to the bottom upon
          completion to shift focus to the next goal.
        </p>
      </div>

      <div class="project_notable_features">
        <h4>Notable Features</h4>
        <ul>
          <li>Real-time goal updates</li>
          <li>Set goals to achieve or quit something</li>
          <li>Target sub-goals for tracking quantity with notes</li>
          <li>Checkbox sub-goals for simple complete/incomplete goals</li>
          <li>Percentage wheels and bars with animations</li>
          <li>Organise goals</li>
          <li>Save to localStorage</li>
          <li>Motivational quotes</li>
        </ul>
      </div>

      <!-- Project stack -->
      <div class="project-stack--container">
        <h4>Project Stack</h4>

        <div class="project_stack goals_stack">
          <img
            class="project_stack--icon"
            loading="lazy"
            src="/assets/images/icons/html5.png"
            alt="HTML Logo"
          />
          <img
            class="project_stack--icon"
            loading="lazy"
            src="/assets/images/icons/css3.png"
            alt="CSS Logo"
          />
          <img
            class="project_stack--icon"
            loading="lazy"
            src="/assets/images/icons/javascript.png"
            alt="JavaScript Logo"
          />
          <img
            class="project_stack--icon"
            loading="lazy"
            src="/assets/images/icons/nodejs.png"
            alt="Node.js Logo"
          />
          <img
            class="project_stack--icon"
            loading="lazy"
            src="/assets/images/icons/webpack.png"
            alt="Webpack Logo"
          />
          <img
            class="project_stack--icon"
            loading="lazy"
            src="/assets/images/icons/babel.png"
            alt="Babel Logo"
          />
        </div>
      </div>
      <!-- End of Project stack -->
    </div>
    <!-- End of project body -->

    <p class="project_item--read_more closed">Read more</p>

    <!-- Project links -->
    <div class="project_links">
      <a
        target="_blank"
        aria-label="View the Goals Github Repo"
        rel="noreferrer"
        href="https://github.com/slenane/Goal-Tracker"
        ><button type="button" class="btn works-github-button">
          <i class="fab fa-github"></i> GitHub
        </button></a
      >
    </div>
    <!-- End of project links -->
  </div>
  <!-- End of project info -->
</div>
