<div
  class="project--sacred_tribe_energy_healing project_item project_item--left"
>
  <h3 class="project_title">Sacred Tribe Energy Healing</h3>
  <!-- Main Image -->
  <div class="project_images">
    <img
      loading="lazy"
      src="/assets/images/sacred-tribe/sacred-tribe-energy-healing.png"
      alt="Sacred Tribe Energy Healing Preview"
    />
  </div>

  <!-- Project Information -->
  <div class="project_info">
    <p class="project_blurb" data-i18n-key="st-blurb">
      Designed and developed personalised e-commerce site based on client's
      vision and halved their monthly website fees. Shopify was integrated to
      handle secure payments, product inventory and to provide the client with
      full control of the business
    </p>
    <div class="project_body">
      <div class="project_description">
        <h4 data-i18n-key="description">Description</h4>
        <p data-i18n-key="st-description">
          Client had created a site with a drag-and-drop website provider that
          achieved a high volume of visitors but a low conversion rate. The site
          required a personal design and identity that matched the product but
          the limited available options made the site look outdated and as a
          result customers did not find it trustworthy. I designed and developed
          the site based on the clients ideas and integrated a Shopify Lite,
          giving their site an identity and a reduction in monthly subscription
          fees.
        </p>
      </div>

      <div class="project_images">
        <img
          loading="lazy"
          src="/assets/images/sacred-tribe/sacredtribe-desktop.png"
          alt="Sacred Tribe Energy Healing Desktop Preview"
        />
      </div>

      <div class="project_difficulties">
        <h4 data-i18n-key="difficulties">Difficulties</h4>
        <p data-i18n-key="st-difficulties">
          The client's original site lacked structure and a natural flow that
          would make navigation easier for users and lead to increased sales.
          The client needed the freedom to add and edit products, add discounts
          and control shipping fees. They also required a blog and a partner
          site information page they cold update freely. Most importantly, the
          client was looking for a cheaper alternative to the service they were
          using as the subscription fees continued to rise and there was a
          product limit.
        </p>
      </div>

      <div class="project_images">
        <img
          loading="lazy"
          src="/assets/images/sacred-tribe/sacredtribe-mobile.png"
          alt="Sacred Tribe Energy Healing Mobile Preview"
        />
      </div>

      <div class="project_solutions">
        <h4 data-i18n-key="solutions">Solutions</h4>
        <p data-i18n-key="st-solutions">
          The site was completely redesigned from scratch, creating a more
          cohesive and consistent structure while maintaining the personal feel
          of the original site. It was designed to highlight the key areas
          client wanted more traffic and provide a flow that makes navigation
          easier for the users. By integrating a Shopify Lite store, I was able
          to give the client full control of the business with no product limit.
          Any changes made on Shopify would dynamically update the information
          on their new site. By hosting the site on Heroku, I was able to
          provide a secure service with SSL certification to make it
          trustworthy. Using the above services led to the client's monthly fees
          being reduced to less than half of what they had been paying for their
          previous site.
        </p>
      </div>

      <div class="project_notable_features">
        <h4 data-i18n-key="notable-features">Notable Features</h4>
        <ul>
          <li data-i18n-key="st-nf-1">Secure payments with Shopify</li>
          <li data-i18n-key="st-nf-2">
            Full control of product inventory, shipping, pricing and discounts
          </li>
          <li data-i18n-key="st-nf-3">Custom products</li>
          <li data-i18n-key="st-nf-4">Personalised, fully responsive design</li>
          <li data-i18n-key="st-nf-5">Product filtering</li>
          <li data-i18n-key="st-nf-6">
            Dynamically add material list to each product with images
          </li>
          <li data-i18n-key="st-nf-7">
            Secret log in for client to add/edit blogs and links to partner
            sites
          </li>
          <li data-i18n-key="st-nf-8">Custom client email and domain</li>
          <li data-i18n-key="st-nf-9">
            Sessions to store cart and wishlist for returning customers
          </li>
          <li data-i18n-key="st-nf-10">SSL certification</li>
        </ul>
      </div>

      <!-- Project stack -->
      <div class="project-stack--container">
        <h4 data-i18n-key="project-stack">Project Stack</h4>

        <div class="project_stack sacred-tribe_stack">
          <img
            class="project_stack--icon html-icon"
            loading="lazy"
            src="/assets/images/icons/html5.png"
            alt="HTML Logo"
          />
          <img
            class="project_stack--icon css-icon"
            loading="lazy"
            src="/assets/images/icons/css3.png"
            alt="CSS Logo"
          />
          <img
            class="project_stack--icon"
            loading="lazy"
            src="/assets/images/icons/javascript.png"
            alt="JavaScript Logo"
          />
          <img
            class="project_stack--icon"
            loading="lazy"
            src="/assets/images/icons/bootstrap.png"
            alt="Bootstrap Logo"
          />
          <img
            class="project_stack--icon nodejs-icon"
            loading="lazy"
            src="/assets/images/icons/nodejs.png"
            alt="Node.js Logo"
          />
          <img
            class="project_stack--icon express-icon"
            loading="lazy"
            src="/assets/images/icons/express.png"
            alt="Express.js Logo"
          />
          <img
            class="project_stack--icon"
            loading="lazy"
            src="/assets/images/icons/mongodb.png"
            alt="MongoDB Logo"
          />
          <img
            class="project_stack--icon"
            loading="lazy"
            src="/assets/images/icons/shopify.png"
            alt="Shopify Logo"
          />
          <img
            class="project_stack--icon"
            loading="lazy"
            src="/assets/images/icons/heroku.png"
            alt="Heroku Logo"
          />
        </div>
      </div>
      <!-- End of Project stack -->
    </div>
    <!-- End of project body-->

    <button class="project_item--read_more" data-i18n-key="read-more">
      Read more
    </button>
    <button class="project_item--read_less hide" data-i18n-key="read-less">
      Read Less
    </button>

    <div class="project_links">
      <a
        target="_blank"
        aria-label="View Sacred Tribe Energy Healing"
        rel="noreferrer"
        href="https://www.sacredtribe-energyhealing.com/"
        ><button
          type="button"
          class="btn link-button works-view-site-button"
          data-i18n-key="view-site"
        >
          View Site
        </button></a
      >
      <a
        target="_blank"
        aria-label="View the Sacred Tribe Energy Healing GitHub Repo"
        rel="noreferrer"
        href="https://github.com/slenane/SacredTribeEnergyHealing"
        ><button type="button" class="btn link-button works-github-button">
          <i class="fab fa-github"></i> GitHub
        </button></a
      >
    </div>
    <!-- End of project links -->
  </div>
  <!-- End of project info box-->
</div>
